@CHARSET "UTF-8";

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#box {
	background-color: #ddbbff;
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

#header {
	background-color: #fddbf9;
	height: 100px;
}

#title {
	color: #cfbd1d;
	float: left;
	font-family: 华文行楷;
	font-size: 40px;
	margin-top: 30px;
	margin-left: 150px;
	float: left;
}

.diff1 {
	display: inline-block;
	font-weight: bold;
	color: #c24785;
	text-shadow: 0 0 1px currentColor, -1px -1px 1px #000, 0 -1px 1px #000,
		1px -1px 1px #000, 1px 0 1px #000, 1px 1px 1px #000, 0 1px 1px #000,
		-1px 1px 1px #000, -1px 0 1px #000;
	-webkit-filter: url(#diff1);
	filter: url(#diff1); /*background:#def;padding:0 .2em*/
}

.outlinedB:after {
	content: 'OutlinedB';
	top: .3em;
	color: transparent;
	text-shadow: 0 0 6px rgba(0, 0, 0, .6), 0 0 8px rgba(0, 0, 0, .8);
	transform: scaleY(.5);
	z-index: -1
}

#blank {
	background-color: white;
	height: 10px;
}

#navi {
	background-color: #95caff;
	margin: 0;
	height: 22px;
	width: 100%;
	float: left;
}

#lise {
	margin-left: 170px;
}

li {
	margin: 0;
	display: block;
	float: left;
	margin-right: 20px;
	border: 1px solid red;
}

#lis {
	background-color: #e7e7e7;
	margin-left: 20px;
	margin-right: 100px;
	font-family: 隶书;
	margin-top: 2px;
}

li:HOVER {
	background-color: yellow;
}

#contain {
	background-color: #e1e1ff;
	height: 400px;
}

#leftcontain {
	background-color: #8000ff;
	margin: 8px 0;
	margin-right: 0;
	height: 400px;
	width: 700px;
	float: left;
	margin-bottom: 0;
}

.fourdiv {
	background-color: green;
	width: 300px;
	height: 180px;
	float: left;
	margin-left: 35px;
	margin-top: 12px;
}

#midcontain {
	background-color: red;
	width: 10px;
	height: 400px;
	margin: 8px 0px;
	float: left;
	margin-bottom: 0;
}

#rightcontain {
	background-color: orange;
	width: 248px;
	height: 400px;
	margin: 8px 0;
	margin-right: 2px;
	margin-bottom: 0;
	float: left;
}

.Cal {
	border: 1px solid #999;
	width: 100%;
	font-family: Arial;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 180px;
	background-color: #eee;
}

.CalTitle {
	background-color: #b6b6b6;
	border-color: #adf;
	font-family: Arial;
	font-size: 13px;
	color: #000;
	margin-left: 0;
	padding: 0;
	height: 100%;
	font-weight: bold;
}

td, th {
	display: table-cell;
	vertical-align: inherit;
}

table {
	display: table;
	border-collapse: separate;
}

.CalOtherMonthDay {
	color: gray;
}

.CalTodayDay {
	background-color: #ccc;
}

#bottomborder {
	margin-top: 20px;
	background-color: orange;
	height: 60px;
	clear: both;
}