@CHARSET "UTF-8";
body{
	background-image:url("../image/138-140Z9102024-50.jpg");
	background-repeat:no-repeat;
	background-position:center;
	margin: 0;
	text-align: center;
}

#pagecontain{
	background-image:url("../image/60bOOOPIC52.jpg");
	width:500px;
	height:358px;
	margin: 120px auto 0 auto ;
	padding: 0;
	border: 0;
	position: relative;
	
}
input{
	
    width: 270px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
   
    background: rgba(45,45,45,.15) red;
   
   
    border-radius: 6px;
   
    border: 1px solid rgba(255,255,255,.15) red;
  
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1); 
   
    -webkit-transition: all .2s;
    -webkit-appearance: textfield;
   
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    color: black;
	
}
h2{
	color:#6ff143;
	font-size:30px;
	font-weight:700;
	text-shadow: 0 1px 4px rgba(0,0,0,.2);
	margin-bottom:0;
	margin-bottom:0;
	width: auto;
	height: 40px;
	display:block;
	-webkit-margin-before: 0.8em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	vertical-align: baseline;
}

#form{
	margin-left: 500px;
	
}
button{
	cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #d79864;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
}
h3{
	text-align: center;
	margin-top: 8px;
	color: #27228c;
	font-size:20px;
	font-weight:800;
	display:block;
	 font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    
}